{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald'>
</head>

<body id="gradient">
    <!-- Navigation Bar -->
    <ul class="navbar" style="padding-left: 0px;">
      <li class="nav" style="padding-left:0px; font-family: Oswald; font-weight:bold;"><span style="background-color: teal;"><a style="color:white;padding:5px" href={% url 'index' %}>VIGILANT JOURNEY</a></span></li>
      {% if user.is_authenticated %}
      <li class="nav"><a href={% url 'main' %}>Game</a></li>
      <li class="nav"><a href={% url 'stats' %}>Stats</a></li> 
      <li class="nav"><a href={% url 'logout' %}>Log out</a></li>
      {% else %}
      <li class="nav"><a href={% url 'signup' %}>Sign up</a></li>
      <li class="nav"><a href={% url 'login' %}>Log in</a></li>
      {% endif %}
    </ul>

    <!-- Content -->
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>
