{% extends "user/base2.html" %}
{% block content2 %}

<h1>Login</h1>
<div>{{ form.non_field_errors }}</div>

<form action="" method="post">
  {% csrf_token %}
  <div class="form-group" style="max-width: 500px;">
    <label for="username"> Username: </label>
    <br>
    <input type="text" class="form-control" name="username" placeholder="username">
    {{ form.username.errors }}
  </div>
  <div class="form-group" style="max-width: 500px;">
    <label for="password"> Password: </label>
    <br>
    <input type="password" class="form-control" name="password" placeholder="password">
    {{ form.password.errors }}
  </div>
  <p>
    <button type="submit" class="btn btn-default">Submit</button>
  </p>
</form>

{% endblock %}
