{% extends "user/base.html" %}
{% block content %}

<h1 >
	Welcome to 
</h1>
<h1 style="font-weight:bold">
	Vigilant Journey
</h1>
<div>{{ form.non_field_errors }}</div>
<br>
<div class="row">
	<div class="col-md-6">
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="roomcode"> Join a room </label>
				<br>
				<div class="input-group mb-3" style="max-width: 20em;">
					<input type="text" class="form-control form-rounded" name="roomcode" placeholder="room code">
					<div class="input-group-append">
						<button class="btn btn-default btn-rounded" type="submit">Enter</button>
					</div>
					{{ form.roomcode.errors }}
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<form action="../game">
				<label for="creategame"> Start a room </label>
        <br>
        <button type="submit" name="creategame" class="btn btn-default form-rounded">Start</button>
        {{ form.creategame.errors }}
			</form>
		</div>
	</div>
</div>


{% endblock %}