{% extends "user/base2.html" %}
{% block content2 %}

<h1>
	Welcome to 
</h1>
<h1 style="font-weight:bold">
	Vigilant Journey
</h1>
<div>{{ form.non_field_errors }}</div>
<br>
<div class="row">
	<div class="col-md-4">
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="roomcode"> Join a room </label>
				<br>
				<div class="input-group mb-3" style="max-width: 20em;">
					<input type="text" class="form-control form-rounded" name="roomcode" placeholder="room code">
					<div class="input-group-append">
						<button class="btn btn-default btn-rounded" type="submit">Enter</button>
					</div>
					{{ form.roomcode.errors }}
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		<label for="roomcode"> Start a room </label> <br>
		<button name="roomcode" class="btn btn-default form-rounded" id="createGame">Enter</button>
		<br>
		<br>
	</div>
	<div class="col-md-4">
		<form action="../load" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="room_id"> Load a game </label>
				<br>
				<div class="input-group mb-3" style="max-width: 20em;">
					<input type="text" class="form-control form-rounded" name="room_id" placeholder="game code">
					<div class="input-group-append">
						<button class="btn btn-default btn-rounded" type="submit">Enter</button>
					</div>
				</div>
			</div>
		</form>
		<br>
	</div>
</div>

<script>
	document.getElementById("createGame").onclick = function(){
		var num = Math.floor(Math.random()*1000);
		location.href="../game/"+num;
	};
</script>

{% endblock %}