{% extends "user/base.html" %}
{% block content %}
{% load static %}

		<div>
			<form style="margin: auto; left:0px; top:60px; position:fixed;" method="post">
					{% csrf_token %}
			    <input type="text" id="player1" name="player1"/>
					<input type="text" id="player2" name="player2"/>
					<input type="submit" value="Save" id="Save">
					<input style = "visibility:hidden;" type="text" id="currentScore" name="currentScore"/>
					<!-- <input type="submit" value="Save" id="Save"> -->
				</form>
		</div>
		<div style="margin: auto; left:0px; top:100px; position:fixed;" class="overlay p-3 mb-2 text-white form-rounded">
			<p class="lab"> Score </p>
			<p class="count centre" id="score"></p>
		</div>

	<script type="x-shader/x-vertex" id="vertexShader">

		varying vec3 vWorldPosition;

		void main() {

			vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
			vWorldPosition = worldPosition.xyz;

			gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

		}

	</script>

	<script type="x-shader/x-fragment" id="fragmentShader">

		uniform vec3 topColor;
		uniform vec3 bottomColor;
		uniform float offset;
		uniform float exponent;

		varying vec3 vWorldPosition;

		void main() {

			float h = normalize( vWorldPosition + offset ).y;
			gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );

		}

	</script>
	<script>
		var static_url = "{% get_static_prefix %}";
		var room_id = "{{ room_id }}"
        let player1 = document.getElementById('player1')
				let player2 = document.getElementById('player2')
				let score = document.getElementById('score').innerText
				let currentScore = document.getElementById('currentScore')

            player1.value = JSON.stringify({
                'x': 0,
                'y': 0,
                'z': 0
            })

            player2.value = JSON.stringify({
                'x': 0,
                'y': 0,
                'z': 0
						})
						// currentScore.value = score

	</script>






	<script src="{% static 'js/web_socket_test.js' %}" type="module"></script>


{% endblock %}