body,html {
  height:100%;
  width:100%;
  margin:0;
  font-family:Raleway, sans-serif;
  color: white;
}
.content {
  width: 90%;
  margin: auto;
}

h1{
  font-family:Oswald;
}
.navbar{
  overflow:hidden;
  position:fixed;
  top: 0;
}
.nav{
  display: inline;
  padding:5px;
  color: white;
}
.form-rounded {
  border-radius: 1rem;
}
.stat {
  background: #ffa700
}
.overlay {
  background:teal;
}

.hist{
  max-width: 100%;
  background:teal
}
.stat.count{
  font-size:2em;
}
.btn-rounded {
  border-radius: 0 1rem 1rem 0;
}
a {
  color: teal;
}
.centre { /*centres some elements*/
  display: table; 
  margin: auto;
}
#gradient{
  background: turquoise; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, lightskyblue, mediumspringgreen); 
  height: 100vh;
  width: 100vw;
}